Pillow
PyYAML
bleach
django-filter
django-formtools
django-mptt
django-otp
django-otp-yubikey
django-redis
django-rq
django-tables2
django
django_browser_reload
djangorestframework
drf-yasg
gunicorn
mkdocs-material
mkdocs
mkdocstrings[python-legacy]
netaddr
phonenumbers
psycopg2-binary
rq-scheduler
segno
swagger-spec-validator
typing-extensions
svgwrite
pysvg-py3
whitenoise